body{
font-family: open, sans-serif  ;
display: flex;
}
.nav-bar{
  display: flex;
  flex-direction: column;
  background-color:#1f1f3D;
  height: 920px;
  width: 254px;
}
h3{
  font-family: open, sans-serif, bold;
  color: #EAEAF4;
  background-color: ;
  padding-left: 16px;
}


p {
 border-top: 1px solid #353567;
 background-color: ;
 font-size: 12px;
 color: #BFBFDD;
 margin-top: -9px;
 padding-left: 16px;
 padding-top: 22px;
  }


button{
  background-color: #5356A4;
  color: #EAEAF4;
  border-radius: 4px;
  border-color: #1f1f3D;
  border: 1px;
  padding-left: 0px;
  padding-right: 0px;
  width: 190px;
  height: 46px;
  margin-left: 16px;
  margin-right: 63px;
  font-family: open, sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
}


.user-input{
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: ;
  background-color:#A9AAD2;
  width: 700px;
  height: 400px;
}
.idea-title-body{
  display: flex;
  flex-direction: column;
}

#title-input{
  width: 300px;
}
