body{
display: flex;
}
.nav-bar{
  display: flex;
  flex-direction: column;
  background-color:#1f1f3D;
  height: 920px;
  width: 254px;
}
h3{
  font-family: open sans-serif;
  color: #EAEAF4;
  background-color: ;
  padding-left: 16px;
}
p{
background-color: ;
color: #EAEAF4;
margin-top: 7px;
padding-left: 16px;
}

button{
background-color: #5356A4;
color: #EAEAF4;
border-radius: 4px;
border-color: #1f1f3D;
border: 1px;
padding-left: 0px;
width: 173px;
height: 50px;
margin-left: 16px;

}
.user-input{
  display: flex;
  background-color:#A9AAD2;
  width: 500px;
    height: 500px;
}
